@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Unbounded:wght@300&display=swap");
//google font montserrat

$backgroud-color: rgb(180, 98, 42);
$header-font-color: rgb(86, 86, 247);
$header-font-size: 28px;
$base-font-color: blue;
$base-font: "Montserrat";
$base-font-size: 14px;
