$backgroud-color: rgb(180, 98, 42);
$header-font-color: blue;
$header-font: Helvetica, sans-serif;
$header-font-size: 28px;
$base-font-color: blue;
$base-font: Arial, sans-serif;
$base-font-size: 14px;
