@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700");
@import url("https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@200;500");
header {
  font-size: 22px;
  font-family: "Montserrat";
  color: #f6f1f1;
}
header h1 {
  font-family: "Asap Condensed";
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

body {
  font-size: 14px;
  font-family: "Montserrat";
  color: #f6f1f1;
}

.container .weather .forecast .tomorrow .information-box img,
.container .weather .forecast .day-after .information-box img, .container .weather .today .secondary .information-box img {
  background-color: RGBA(246, 241, 241, 0.6);
  border-radius: 30px;
  padding: 10px;
}

header .search #field {
  width: 200px;
  height: 100%;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-left: 10px;
  background: none;
  color: #f6f1f1;
}
header .search #field::-moz-placeholder {
  color: rgba(246, 241, 241, 0.7);
}
header .search #field::placeholder {
  color: rgba(246, 241, 241, 0.7);
}
header .search #icon {
  border: none;
  background: none;
  height: 100%;
  width: 35px;
  margin-left: 10px;
  color: #f6f1f1;
}

* {
  box-sizing: border-box;
}

.material-symbols-outlined {
  color: #f6f1f1;
  font-variation-settings: "FILL" 0, "wght" 250, "GRAD" 0, "opsz" 24;
}

body {
  margin: 0px;
  background-image: url("../pics/daybg.webp");
  text-align: center;
}

header .search {
  height: 35px;
  max-width: 235px;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.container {
  margin: 0px 20px;
}
.container .weather {
  position: relative;
  background-color: #146c94;
  background: linear-gradient(0deg, rgb(20, 108, 148) 28%, rgb(25, 167, 206) 70%, rgb(175, 211, 226) 100%);
  max-width: 400px;
  margin: 30px auto;
  border-radius: 20px;
}
.container .weather .slider {
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 5px;
}
.container .weather .slider .toggle {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  background-color: #f6f1f1;
  border-radius: 30px;
  border: 2px solid #19a7ce;
  opacity: 0.8;
}
.container .weather .slider .toggle:after {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #19a7ce;
  left: -1px;
  transition: all 0.5s;
}
.container .weather .slider .checkbox:checked + .toggle::after {
  left: 25px;
  background-color: #146c94;
}
.container .weather .slider .checkbox:checked + .toggle {
  border: 2px solid #146c94;
}
.container .weather .slider .checkbox {
  display: none;
}
.container .weather .slider p {
  font-size: 10px;
  font-weight: 700;
  color: #146c94;
  margin: 5px 5px;
  display: inline;
}
.container .weather .slider #celsius {
  float: right;
}
.container .weather .slider #Fahrenheit {
  float: left;
}
.container .weather .today {
  border-radius: 15px;
  padding: 10px;
}
.container .weather .today .material-symbols-outlined {
  font-size: 30px !important;
}
.container .weather .today h2 {
  padding-top: 20px;
  margin-bottom: 0;
}
.container .weather .today .main-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .weather .today .main-view .tempUnit {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.container .weather .today .main-view .tempUnit .temperature {
  font-size: 6em;
  margin: 0px;
  margin-top: 30px;
}
.container .weather .today .main-view .tempUnit .units {
  font-size: 1.5em;
}
.container .weather .today .main-view .info-box {
  display: flex;
  font-size: 18px;
  align-items: center;
}
.container .weather .today .secondary {
  display: flex;
  justify-content: center;
  margin: 5px;
  padding: 5px;
}
.container .weather .today .secondary .information-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 120px;
}
.container .weather .today .secondary .information-box img {
  max-width: 40%;
  height: auto;
}
.container .weather .forecast {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0px 20px 20px 20px;
}
.container .weather .forecast .tomorrow,
.container .weather .forecast .day-after {
  background-color: RGBA(175, 211, 226, 0.2);
  border-radius: 30px;
  padding: 10px;
}
.container .weather .forecast .tomorrow h3,
.container .weather .forecast .day-after h3 {
  margin-bottom: 5px;
}
.container .weather .forecast .tomorrow .information-box,
.container .weather .forecast .day-after .information-box {
  display: flex;
  align-items: center;
  padding: 5px;
  gap: 10px;
  justify-content: left;
}
.container .weather .forecast .tomorrow .information-box img,
.container .weather .forecast .day-after .information-box img {
  max-width: 30%;
  height: auto;
}

@media only screen and (min-width: 700px) {
  header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    margin-top: 30px;
  }
  header h1 {
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 30px;
    position: absolute;
    left: 30px;
  }
  header .search {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}/*# sourceMappingURL=style.css.map */