@import "variables";

body {
  margin: 0px;
  background-color: $backgroud-color;
  color: $base-font-color;
  text-align: center;
}

header {
  font-family: $header-font;
  font-size: $header-font-size;
  color: $header-font-color;
  #search {
    background-color: rgba(255,255,255,0.5);
    border: none;
    border-radius: 2px;
    width: 35px;
    height: 35px;
    .material-symbols-outlined {
      font-variation-settings:
      'FILL' 0,
      'wght' 300,
      'GRAD' 0,
      'opsz' 24
    }
    &:hover {
      background-color: rgba(255,255,255,0.3);
    }
  }
}

.container {
  // TEMPORARY! Background color to distinguish the section.
  background-color: rgba(240, 255, 255, 0.2);
  .weather {
    // TEMPORARY! Background color to distinguish the section.
    background-color: rgba(240, 255, 255, 0.2);
    max-width: 600px;
    margin: 0px auto; // Auto centers the element
    .today {
      // TEMPORARY! Background color to distinguish the section.
      background-color: rgba(240, 255, 255, 0.2);
    }
    .forecast {
      // TEMPORARY! Background color to distinguish the section.
      background-color: rgba(240, 255, 255, 0.2);
      display: flex;
      justify-content: center;
      gap: 20px;
      .tomorrow {
        // TEMPORARY! Background color to distinguish the section.
        background-color: rgba(240, 255, 255, 0.2);
      }
      .day-after {
        // TEMPORARY! Background color to distinguish the section.
        background-color: rgba(240, 255, 255, 0.2);
      }
    }
  }
}