@import "variables";

* {
    box-sizing: border-box;
}

// Google Icon styling
.material-symbols-outlined {
    color: $base-font-color;
    font-variation-settings: "FILL" 0, "wght" 250, "GRAD" 0, "opsz" 24;
}

body {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: 0px;
    @extend %base-text-style;

    .background {
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(
            45deg,
            $main-color-4 0%,
            $main-color-3 25%,
            $main-color-3 75%,
            $main-color-3 100%,
        );
        background-image: url("../pics/background.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center top;
        background-color: $main-color-3;
        z-index: -1;
    }

    header {
        padding: 35px 0px;
        margin-bottom: 40px;
        @extend %header-style;

        h1 {
            color: $main-color-3;
        }

        .search {
            @extend %search-bar-style-2;
            height: 35px;
            max-width: 235px;
            margin: 0px auto;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;

            #field {
                color: $main-color-3;
                border-color: $main-color-3;
                &::placeholder {
                    color: $main-color-3;
                }
            }

            button {
                .material-symbols-outlined {
                    color: $main-color-3;
                }
            }
        }
    }

    main {
        display: none;
        .container {
            margin: 0px 7%;
            .weather {
                box-shadow: 3.5px 3.5px 2px rgba(0, 0, 0, 0.5);
                border: 2px solid rgba(255, 255, 255, 0.35);
                position: relative;
                max-width: 400px;
                margin: 20px auto; // Auto centers the element
                border-radius: 22px 22px 20px 20px;

                .background {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-image: url("../pics/daybg-2.jpg");
                    //background-image: url("../pics/nightbg-2.jpg");
                    background-position: left;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-attachment:initial;
                    background-position-y: bottom;
                    border-radius: 20px;
                    z-index: -1;
                }

                //styling for temperature unit toggle switch
                .slider {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    margin: 5px;

                    //background of the toggle switch
                    .toggle {
                        position: relative;
                        display: inline-block;
                        width: 50px;
                        height: 25px;
                        background-color: $main-color-1;
                        border-radius: 30px;
                        border: 2px solid $main-color-3;
                        opacity: 0.8;
                    }

                    // slider of the toggle swtich
                    .toggle:after {
                        content: "";
                        position: absolute;
                        width: 22px;
                        height: 22px;
                        border-radius: 50%;
                        background-color: $main-color-3;
                        left: -1px;
                        transition: all 0.5s;
                    }

                    // Add slider movement on click
                    .checkbox:checked + .toggle::after {
                        left: 25px;
                        background-color: $main-color-4;
                    }

                    //change switch border color when checkbox is checked
                    .checkbox:checked + .toggle {
                        border: 2px solid $main-color-4;
                    }

                    // hide checkbox
                    .checkbox {
                        display: none;
                    }

                    // position text inside toggle switch
                    p {
                        font-size: 10px;
                        font-weight: 700;
                        color: $main-color-4;
                        margin: 5px 5px;
                        display: inline;
                    }

                    //float celsius text to the left
                    #celsius {
                        float: right;
                    }

                    //float fahrenheit text to the right
                    #Fahrenheit {
                        float: left;
                    }
                }
                .today {
                    border-radius: 15px;
                    //remove box-shadow for gradient background, saved for later as a comment
                    // box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
                    padding: 10px;

                    .material-symbols-outlined {
                        font-size: 30px !important;
                    }

                    h2 {
                        padding-top: 20px;
                        margin-bottom: 0;
                    }

                    .main-view {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        .tempUnit {
                            display: flex;
                            flex-direction: row;
                            align-items: center;

                            .temperature {
                                font-size: 9em;
                                margin: 0px;
                            }

                            .units {
                                font-size: 1.5em;
                                align-self: flex-start;
                            }
                        }

                        .info-box {
                            display: flex;
                            font-size: 18px;
                            align-items: center;
                            justify-content: center;
                            img {
                                max-width: 30%;
                            }
                        }
                    }

                    .secondary {
                        display: flex;
                        justify-content: center;
                        margin: 5px;
                        padding: 5px;

                        .today-information-box {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            padding: 20px;

                            max-width: 120px;

                            img {
                                max-width: 40%;
                                height: auto;
                            }
                        }
                    }
                }
                .forecast {
                    display: flex;
                    justify-content: center;
                    gap: 13px;
                    padding: 0px 0px 13px 0px;
                    margin: 0px 13px;

                    .tomorrow,
                    .day-after {
                        // transparent background coloring for forecasts with opacy of 0.2
                        background-color: RGBA(175, 211, 226, 0.2);
                        flex: 1;
                        border-radius: 20px;
                        padding: 5px;

                        h3 {
                            margin: 0px;
                        }

                        img {
                            max-width: 40%;
                            height: auto;
                        }

                        .forecast-information-box {
                            display: flex;
                            align-items: center;
                            padding: 3px;
                            gap: 10px;
                            justify-content: left;
                            img {
                                max-width: 30%;
                                height: auto;
                            }

                            .max-min-temp,
                            .chance-of-rain {
                                margin: 0px;
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        background-color: $main-color-1;
        padding: 20px;
        color: $main-color-4;
        text-align: left;
        position: absolute;
        bottom: 0px;
        width: 100%;
        margin: 0;
        p {
            margin: 0;
        }
    }
}

.search-done {
    @media only screen and (min-width: 350px) {
        //Centers the info to more center ión bigger screens.
        .forecast .forecast-information-box {
            margin-left: 15%;
        }
    }

    @media only screen and (min-width: 500px) {
        //Centers the info to more center ión bigger screens.
        .forecast .forecast-information-box {
            margin-left: 22%;
        }
    }

    @media only screen and (min-width: 700px) {
        header {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto;
            align-items: center;
            padding: 30px;

            h1 {
                grid-column: 1/2;
                grid-row: 1/2;
                font-size: 30px;
                position: absolute;
                left: 30px;
            }

            .search {
                grid-column: 2/3;
                grid-row: 1/2;
            }
        }
        //Adds bigger margins to .forecast on bigger screen sizes.
        .container .weather .forecast {
            padding: 0px 0px 20px 0px;
            margin: 0px 20px;
            gap: 20px;
        }
    }
}
